/* Reset some default margins */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

/* Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #7f5a81;
  padding: 1rem;
}

.left-links a,
.right-buttons button {
  margin: 0 10px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
}

.left-links a:hover {
  text-decoration: underline;
}

.right-buttons button:hover {
  color: #007bff;
  
}




/* Grid Row */
.row {
  display: flex;
  padding: 1rem;
}

/* Columns */
.col-1-3 {
  flex: 1;
  padding: 0.5rem;
}

.col-2-3 {
  flex: 2;
  padding: 0.5rem;
}

/* Input Box */
#numberInput {
  font-size: 2rem;
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

/* Result Screen */
#resultScreen {
  background-color: #e992ed;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  min-height: 2rem;
}

/* Footer */
footer {
  background-color: #ddd;
  text-align: center;
  padding: 1rem;
  font-size: 0.9rem;
}